<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Image</title>
</head>
<body>
<jd><%=jd%></jd>
<style>
    #b{
        height:50px;
    }
</style>

<div id="b">
    <script id="test" type="text/html">
        <?JD for (i=1; i<=1; i++){?>
           <a ad=<?JD=love.url?>><?JD= dong?></a>  </br>
        <?JD }?>
    </script>
</div>
<div>
    <script id="t" type="text/html">
        <?JD for (i=1; i<=1; i++){?>
        <a ad=<?JD=love.url?>><?JD= love.url?></a>  </br>
        <?JD }?>
    </script>
</div>
</body>
<script src='/js/public/jdata.js'></script>
<script>
    JData.TF=function(){
    }
    JData();
    ok=function(data){
        alert(data.qq);
    }
    JData.getAjaxData({url:'/index',parse:"a=dd",type:'text',method:'POST'},function(){},function(err,data){alert(data)});
</script>
</html>